<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>반갑습니다.</h1>
    <h2>타임리프 테스트 메인 페이지입니다.</h2>
    <h3>사용자 링크</h3>
    <ul>
        <li><a href="/user/login">사용자 로그인</a></li>
        <li><a href="/user/info"> 사용자 정보</a></li>
        <li><a href="/user/saveInfo">로그인정보 저장하기</a></li>
    </ul>
    <br>
    <h3>관리자 링크</h3>
    <ul>
        <li><a href="/admin/info">관리자 정보</a></li>
        <li><a href="/admin/report">관리자 리포트</a></li>
    </ul>
    <hr>
    <h3>모델로 데이터 출력하기</h3>
    <ul>
        <li><a href="/basic/infoPrint">장원영 정보 출력하기</a></li>
    </ul>
</body>
</html>