<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>반복문 : Each 구문</h3>
    <ul>
        <li><a th:href="@{/each}">Each 반복문 테스트</a></li>
    </ul>
    <hr>
    <h3>경로변수 + 쿼리파라미터 테스트</h3>
    <ul>
        <li><a th:href="@{/link}">테스트 페이지</a></li>
    </ul>
    <hr>
    <h3>연산자</h3>
    <ul> 비교연산
        <li>1 == 2 : <span th:text="1 == 2"></span></li>
        <li>1 != 2 : <span th:text="1 != 2"></span></li>
        <li>1 >= 2 : <span th:text="1 >= 2"></span></li>
    </ul>
    <ul> 삼항연산
        <li> 10 % 2 :
            <span th:text="(10 % 2 == 0)?'짝수':'홀수'"></span></li>
    </ul>
    <hr>
    <h1>반갑습니다.</h1>
    <h2>타임리프 테스트 메인 페이지입니다.</h2>
    <h3>사용자 링크</h3>
    <ul>
        <li><a href="/user/login">사용자 로그인</a></li>
        <li><a href="/user/info"> 사용자 정보</a></li>
        <li><a href="/user/saveInfo">로그인정보 저장하기</a></li>
    </ul>
    <br>
    <h3>관리자 링크</h3>
    <ul>
        <li><a href="/admin/info">관리자 정보</a></li>
        <li><a href="/admin/report">관리자 리포트</a></li>
    </ul>
    <hr>
    <h3>모델로 데이터 출력하기</h3>
    <ul>
        <li><a href="/basic/infoPrint">장원영 정보 출력하기</a></li>
        <li><a href="/basic/variable">오브젝트 정보 출력하기</a></li>
    </ul>
<hr>
    <h3>제품정보 출력하기</h3>
    <ul>
        <li><a href="/product/info">제품리스트 페이지</a></li>
    </ul>
<hr>
    <h3>현재 날짜와 시간 출력하기(유틸리티 사용)</h3>
    <ul>
        <li><a href="/date">현재 날짜 시각 출력</a></li>
    </ul>
</body>
</html>